.container {
    height: 100%;
    width: 100%;
    padding-bottom: 10%;
    /* min-height: 2000px; */
    overflow-y: hidden;
    opacity: 0.99;
}

.login-container-wrapper {
    height: 100%;
}

.container:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    /* background-image: url('../../assets/image/IOT_pattern_light-01.png'); */
    background-color: #ededed;
    opacity: 0.3;
    z-index: -1;
}

.card-element {
    margin-top: 18% !important;
    width: 400px !important;
    height: 235px !important;
    /* position: absolute !important; */
    top: 50% !important;
    left: 50% !important;
    /* margin-top: -150px !important; */
    margin-left: -200px !important;
}

.ui.form {
    padding: 30px;
    padding-top: 20px;
}

.remember-me {
    margin-bottom: 5px;
}

.login-button {
    float: right;
}

/* iPad Portrait */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
    .card-element {
        width: 350px !important;
        height: 300px !important;
        position: absolute;
        top: 40% !important;
        left: 50% !important;
        margin-left: -175px !important;
    }

    .header {
        display: none !important;
        width: 510px !important;
    }
}

/* iPad Landscape */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {

    .card-element {
        width: 350px !important;
        height: 300px !important;
        position: absolute;
        top: 30% !important;
        left: 50% !important;
        margin-left: -175px !important;
    }
}

/* iPad Pro Portrait */
@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1.5) {
    .ui.form {
        padding: 30px;
    }
    .card-element {
        padding: 20px;
        width: 400px !important;
        height: 350px !important;
        position: absolute;
        top: 30% !important;
        left: 50% !important;
        margin-left: -200px !important;
    }
}

.login-error-case {
    margin-top: 60px;
    color: red;
    align-items: center;
    text-align: center;
}

/* iPad Pro Landscape */
@media only screen
and (min-device-width: 1366px)
and (max-device-width: 1366px)
and (orientation: landscape)
and (-webkit-min-device-pixel-ratio: 1.5) {
    .ui.form {
        padding: 30px;
    }

    .card-element {
        width: 400px !important;
        height: 300px !important;
        position: absolute;
        top: 45% !important;
        left: 50% !important;
        margin-left: -200px !important;
    }
}


.ui.card {
    margin-right: 0px !important;
}